.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 70%;
}
.inputArea{
    display: grid;
    grid-template-columns: auto auto;
    text-align: start;
    align-items: center;
    
}
.inputArea hr{
    width: 50%;
    border-width: 1px;
}

.inputArea label{
    font-size: 15px;
    width: 100%;

}

.inputArea input{
    width: 90%;
    margin: 5px;
    background-color: #ffffff;
    height: 15px;
    border-width: 1px;
    color: black;
    
}
