.selectionContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-evenly;
    gap: 10px;
}
.labelOptionContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;

}