.mainTable{
    border-radius: 3px;
    border: solid 1px rgba(104, 104, 104, 0.397);
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px inset;
}

hr{
    width: 90%; 
    color: rgb(0, 0, 0);
    border-width: 3px solid;
}